.form {
  display: flex;
  flex-direction: column;
  > * {
    margin-bottom: $m-size;
  }
}

.form__content-container-two-items {
  display: flex;
  justify-content: space-between;
  border-left: darken($very-light-grey, 7%);
  border-right: darken($very-light-grey, 7%);
  margin-bottom: 0px;
}

.button-margin {
  margin: $l-size;
}


.form-middle {
  border-left: 1px solid darken($very-light-grey, 7%);
  border-right: 1px solid darken($very-light-grey, 7%);
  background: white;
  padding-left: $l-size;
  padding-right: $l-size;
  margin-bottom: 0px;
}
