.ReactModalPortal > div {
  opacity:0;
}

.ReactModalPortal .ReactModal__Overlay {
  align-items: center;
  display: flex;
  justify-content: center;
  transition: opacity 300ms ease-in-out;
  width: 100vw;
  height: 100vh;
}

.ReactModalPortal .ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModalPortal .ReactModal__Overlay--before-close {
  opacity: 0;
}

.modal__title {
  margin: 0 0 $s-size;
  font-weight: 300;
}

.modal__subtitle {
  @extend .modal__title;
  font-weight: 200;
}

.ReactModal__Content {
  top:auto !important;
  bottom: auto !important;
  left: auto !important;
  right: auto !important;
  word-break: break-word !important;
  text-align: center !important;
  margin: $l-size !important;
  padding: $m-size !important;
  min-width: 15rem !important;
  max-width: 30rem !important;
  min-height: 15rem !important;
  max-height: 30rem !important;
  border: 1px solid darken($very-light-grey, 7%) !important;
  border-radius: 7px !important;
  background: $very-light-grey !important;
}

.box-layout {
  align-items: center;
  background-image: linear-gradient(rgba(255,255,255,0.5),rgba(255,255,255,0.5)), url("/images/bg.png");
  background-size: 5px;
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100vw;
}


.button-group-modal {
  margin-top: $l-size;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-around;

  @media(max-width: $desktop-breakpoint) {
    margin-bottom: $s-size;
  }
}


.center {
  text-align: center;
}
